#include <windows.h>
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

VS_VERSION_INFO    VERSIONINFO
  FILEVERSION      1,0,0,1
  PRODUCTVERSION   1,0,0,1
  FILEFLAGSMASK    0x3fL // VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
  FILEFLAGS        0x1L  // VS_FF_DEBUG|VS_FF_PRIVATEBUILD|VS_FF_PRERELEASE
#else
  FILEFLAGS        0x0L  // final version
#endif
  FILEOS           VOS_NT_WINDOWS32
  FILETYPE         VFT_APP
  FILESUBTYPE      VFT2_UNKNOWN // not used
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904E4" // Lang=US English, CharSet=Windows Multilingual
    {
      VALUE "Build",            "September 2020\0"
      VALUE "Comments",         "Free for personal use only.\0"
      VALUE "CompanyName",      ""
      VALUE "Developer",        "Krzysztof Lipa-Izdebski\0"
      VALUE "FileDescription",  "Gra w lotto\0"
      VALUE "FileVersion",      "1.2.000\0"
      VALUE "InternalName",     "main.cpp\0"
      VALUE "LegalCopyright",   "Copyright (C) 2020 Krzysztof Nachszon Lipa-Izdebski\0"
      VALUE "LegalTrademarks",  "All rights reserved.\0"
      VALUE "OriginalFilename", "losowanie.exe\0"
      VALUE "PrivateBuild",     "NACHSZON\0"
      VALUE "ProductName",      "lotogan\0"
      VALUE "ProductVersion",   "1.2.000\0"
      VALUE "SpecialBuild",     "\0"
      VALUE "Support",          "Krzysztof Nachszon Lipa-Izdebski\0"
      VALUE "Users",            "Unlimited.\0"
      VALUE "PUBLISHER",    "Krzysztof Nachszon Lipa-Izdebski\0"
    } // BLOCK "040904E4"
  } // BLOCK "StringFileInfo"
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x409, 1252 // 1252 = 0x04E4
  } // BLOCK "VarFileInfo"
}

